<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserRigsterServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.UserRigsterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.UserFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestTwoServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.TestTwoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionFindServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.QuestionFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDeleteServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.QuestionDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionUpdateServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.QuestionUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.ShowQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionTestServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.QuestionTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionGradeServlet</servlet-name>
        <servlet-class>com.cooler.testproject.controller.QuestionGradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionGradeServlet</servlet-name>
        <url-pattern>/question/grade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionTestServlet</servlet-name>
        <url-pattern>/question/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <url-pattern>/question/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionUpdateServlet</servlet-name>
        <url-pattern>/question/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDeleteServlet</servlet-name>
        <url-pattern>/question/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionFindServlet</servlet-name>
        <url-pattern>/question/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRigsterServlet</servlet-name>
        <url-pattern>/user/rigster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFindServlet</servlet-name>
        <url-pattern>/user/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/user/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestTwoServlet</servlet-name>
        <url-pattern>/user/TestTwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/question/add</url-pattern>
    </servlet-mapping>
    <!--自定义默认访问资源-->
    <welcome-file-list>
        <welcome-file>user/login.html</welcome-file>
        <welcome-file>user/UserFind</welcome-file>
    </welcome-file-list>
    <!--注册监听器-->
    <listener>
        <listener-class>com.cooler.testproject.listener.ApplicationListener</listener-class>
    </listener>
    <!--注册过滤器    -->
    <filter>
        <filter-name>TestFilter</filter-name>
        <filter-class>com.cooler.testproject.filter.TestFilter</filter-class>
    </filter>
    <!--通知Tomcat在调用任何资源时候需要被当前过滤器拦截        -->
    <filter-mapping>
        <filter-name>TestFilter</filter-name>
        <!--当前资源文件路径  *表示所有资源文件-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>